:root {
    font-size: 1vw * 0.5em;
}

.title {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.controls, .draw-container {
    padding: 0;
}

.controls {
    padding: 0 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.draw-container {
    display: grid;
    width: 300px;
    height: 300px;
}

.block:hover {
    background-color: burlywood;
    transition: ease-out;
}


.btn {
    border-radius: 0.8em;
    padding: 0.5em;
    outline: none;
}

